<div class="card__custom">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="card__custom__title">Create a new post</h5>
        <button type="submit" class="form__button-submit">Submit</button>
    </div>
    <form action="/post/store" method="post">
        <div class="row g-4 mb-3">
            <div class="col-12 col-lg-8 ">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Title</label>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <select class="form-select h-100" aria-label="Category select">
                    <option selected="true">Select category</option>
                    <option value="technology">Technology</option>
                    <option value="design">Design</option>
                    <option value="lifestyle">Lifestyle</option>
                    <option value="travel">Travel</option>
                </select>
            </div>
        </div>
        <textarea id="editor" placeholder="Write whatever you want..."></textarea>
    </form>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>