<div class="grid">
    <div class="item">
        <div class="post">
            <a href="/post/example" class="post__thumbnail">
                <img src="https://noonpost.netlify.app/html/template/assets/img/blog/20.jpg" alt="">
            </a>
            <a href="/category/travel" class="post__category">
                Travel
            </a>
            <h5 class="post__title">
                <a href="/post/example">
                    Rodrigues Island: When I Found a Paradise Next to Paradise
                </a>
            </h5>
            <p class="post__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque error non praesentium perferendis
                incidunt doloremque ea vero at adipisci, delectus ut, nam id corporis suscipit laborum. Molestias
                eos nam distinctio!
            </p>
            <div class="post__info">
                <a href="/author/post" class="post__author">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/face-1659511-1410033.png" alt="Avatar">
                    <span>Thanh Nhân</span>
                </a>
                <i class="fa-solid fa-circle"></i>
                <p class="post__createdAt">
                    January 15, 2021
                </p>
            </div>
        </div>
    </div>
</div>