<div class="footer">
    <div class="container text-center pt-5">
        <h5 class="footer__subscribe">
            Subscribe to our Newslatter
        </h5>
        <div class="footer__signup">
            Sign up for free and be the first to get notified about new posts.
        </div>
        <div class="footer__input-group">
            <input type="text" class="footer__input-search" placeholder="Your email address">
            <button class="footer__button-search" type="button">Subscribe</button>
        </div>
        <div class="footer__icons">
            <div class="d-flex gap-2">
                <i class="fa-brands fa-facebook-f"></i>
                <span>Facebook</span>
            </div>
            <div class="d-flex gap-2">
                <i class="fa-brands fa-instagram"></i>
                <span>Instagram</span>
            </div>
            <div class="d-flex gap-2">
                <i class="fa-brands fa-twitter"></i>
                <span>Twitter</span>
            </div>
            <div class="d-flex gap-2">
                <i class="fa-brands fa-youtube"></i>
                <span>Youtube</span>
            </div>
        </div>
        <div class="footer__copyright">
            <p>© Copyright 2021 AssiaGroupe, All rights reserved.</p>
        </div>
    </div>
</div>