<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-dark.png" alt="logo-noonpost">
        </a>
        <div class="navbar__block">
            <ul class="navbar__block__list">
                {{#each categories}}
                   <li class="navbar__block__item">
                        <a href="/category/{{this.slug}}" class="navbar__block__link">
                            {{this.name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="d-flex gap-3 justify-content-center align-items-center">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="toggle-theme">
            </div>
            <span><i class="fa-brands fa-facebook-f"></i></span>
            <span><i class="fa-brands fa-instagram"></i></span>
            <span><i class="fa-brands fa-twitter"></i></span>
            <span><i class="fa-brands fa-youtube"></i></span>
            <button class="navbar__button-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            {{!-- <a href="/login" class="navbar__button-login">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Create</span>
            </a> --}}
        </div>

    </div>
</nav>